* {
  --font-family: 'Xiaolai SC', 'Xiaolai Mono SC', 'HarmonyOS Sans SC',
    'Source Han Sans SC', 'Source Han Sans', sans-serif;
  --monospace-font-family: 'Xiaolai Mono SC', 'JetBrains Mono', 'Cascadia Code',
    'Consolas', monospace;

  --primary-text-color: #cdcdcd;
  --secondary-text-color: #686a80;

  --default-background: #272935aa;
  --background-mask-color: #3b3c4c55;
  --card-background-color: #2b2c3daa;
  --default-box-shadow: 2px 2px 6px #9debff9a;

  --background-color: var(--card-background-color);
  --label-red-bg-color: #ff5555aa;
  --label-orange-bg-color: #efa554aa;
  --label-yellow-bg-color: #ffd448aa;
  --label-green-bg-color: #1da912aa;
  --label-cyan-bg-color: #9debffaa;
  --label-blue-bg-color: #6a96e9aa;
  --label-purple-bg-color: #9d8df6aa;
  --label-gray-bg-color: #6c6f7daa;
  --label-black-bg-color: #272935aa;

  --prog-low-bg-color: var(--label-cyan-bg-color);
  --prog-medium-bg-color: var(--label-blue-bg-color);
  --prog-high-bg-color: var(--label-purple-bg-color);

  --segment-color: var(--primary-text-color);
}

body {
  background-color: #272935;
}
