<div class="card cpu-mem-usage donut-chart-line">
  {% for it in data %}
  <div class="donut-chart">
    <div class="chart-wrapper">
      <svg class="chart" style="{% if it.percent != None %}--percent: {{ it.percent / 100 }}{% endif %}">
        <circle class="empty" cx="50%" cy="50%" r="67.5px" />
        {% if it.percent != None %}
        <circle class="slice {{ it.percent | percent_to_color }}" cx="50%" cy="50%" r="67.5px" />
        {% endif %}
      </svg>
      <div class="shadow"></div>
      <div class="label">
        {%- if it.percent == None %}未部署
        {%- else %}{{ '{0:.0f}%'.format(it.percent) }}{% endif -%}
      </div>
    </div>
    <div class="title">{{ it.title }}</div>
    <div class="desc">{{ it.caption | br }}</div>
  </div>
  {% endfor %}
</div>
