<div class="card disk-info splitter">
  <div class="list-grid disk-usage">
    {% for it in data.usage %}
    <div>{{ it.name }}</div>
    <div class="progress-bar">
      <div class="background"></div>
      {% if it.exception %}
      <div class="label">{{ it.exception }}</div>
      {% else %}
      <div class="progress {{ it.percent | percent_to_color }}" style="width: {{ it.percent }}%"></div>
      <div class="label">{{ it.used | auto_convert_unit }} / {{ it.total | auto_convert_unit }}</div>
      {% endif %}
    </div>
    <div class="align-right">
      {%- if it.percent %}{{ '{0:.1f}%'.format(it.percent) }}
      {%- else %}??.?%{% endif -%}
    </div>
    {% endfor %}
  </div>

  <div class="list-grid disk-io">
    {% for it in data.io %}
    <div>{{ it.name }}</div>
    <div>读</div>
    <div class="align-right">{{ it.read | auto_convert_unit(suffix='/s') }}</div>
    <div>|</div>
    <div>写</div>
    <div class="align-right">{{ it.write | auto_convert_unit(suffix='/s') }}</div>
    {% endfor %}
  </div>
</div>
