<div class="card header splitter">
  {% for info in data.bots %}
  <div class="account">
    <img class="avatar" data-src="/api/bot_avatar/{{ info.self_id }}" />
    <div class="description">
      <div class="nickname">{{ info.nick }}</div>
      <div class="status label-container">
        <span class="label purple">{{ info.adapter }}</span>
        <span class="label green">Bot已连接 {{ info.bot_connected }}</span>
        <span class="label blue">收 {{ info.msg_rec }}</span>
        <span class="label orange">发 {{ info.msg_sent }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="extra label-container">
    <span class="label gray">NoneBot运行 {{ data.nb_run }}</span>
    <span class="label gray">系统运行 {{ data.booted }}</span>
  </div>
</div>
