<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/index.css" />
  {% for css in additional_css -%}
  <link rel="stylesheet" href="{{ css }}" />{% endfor %}
</head>

<body>
  <div class="main-background" data-background-image="/api/background">
    <div class="main-background-mask">
      <div class="main">
        {{ main }}
      </div>
    </div>
  </div>
</body>

<script>
  /** @type {(() => Promise<any>)[]} */
  globalThis.plugins = [];
</script>
<script src="/js/index.js"></script>
{% for script in additional_script -%}
<script src="{{ script }}"></script>{% endfor %}
<script>
  (async () => {
    for (const plugin of globalThis.plugins) {
      try {
        await plugin();
      } catch (e) {
        console.error(e);
      }
    }
    document.body.classList.add('done');
  })();
</script>

</html>
