<div class="card network-info splitter">
  <div class="list-grid network-io">
    {% for it in data.io %}
    <div>{{ it.name }}</div>
    <div>↑</div>
    <div class="align-right">{{ it.sent | auto_convert_unit(suffix='/s') }}</div>
    <div>|</div>
    <div>↓</div>
    <div class="align-right">{{ it.recv | auto_convert_unit(suffix='/s') }}</div>
    {% endfor %}
  </div>
  <div class="list-grid network-connection-test">
    {% for it in data.connection %}
    <div>{{ it.name }}</div>
    {% if it.error %}
    <div class="error">{{ it.error }}</div>
    {% else %}
    <div>{{ it.status }} {{ it.reason }}</div>
    <div>|</div>
    <div>{{ '{0:.2f}ms'.format(it.delay) }}</div>
    {% endif %}
    {% endfor %}
  </div>
</div>
