<div class="card process-info splitter">
  <div class="list-grid process-usage">
    {% for it in data %}
    <div>{{ it.name }}</div>
    <div>CPU</div>
    <div class="align-right">{{ '{0:.1f}%'.format(it.cpu) }}</div>
    <div>|</div>
    <div>MEM</div>
    <div class="align-right">{{ it.mem | auto_convert_unit }}</div>
    {% endfor %}
  </div>
</div>
