{% from 'macros.html.jinja' import header, cpu_mem, disk, network, process, footer %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/default/res/css/index.css" />
  {% for css in config.ps_default_additional_css -%}
  <link rel="stylesheet" href="{{ css }}" />{% endfor %}
</head>

<body>
  <div class="main-background" data-background-image="/api/background">
    <div class="main-background-mask">
      <div class="main">
        {% for name in config.ps_default_components %}
        {% if name == "header" %}
        {{ header(d) }}
        {% elif name == "cpu_mem" %}
        {{ cpu_mem(d) }}
        {% elif name == "disk" %}
        {{ disk(d) }}
        {% elif name == "network" %}
        {{ network(d) }}
        {% elif name == "process" %}
        {{ process(d) }}
        {% elif name == "footer" %}
        {{ footer(d) }}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>

<script src="/js/init-global.js"></script>
<script src="/js/lazy-load.js"></script>
{% for script in config.ps_default_additional_script -%}
<script src="{{ script }}"></script>{% endfor %}
<script src="/js/load-plugin.js"></script>

</html>
